<%- include('_header_info') %>
<title><%= article.slug %></title>
</head>
<style>
#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main .heading {
    flex-grow: 0;
    flex-shrink: 1;
}

#main .content {
    flex: 1;
}

html::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

</style>
<body class="bg-dark">
    <div id="main" class="container py-2">
        <div class="heading">
            <h1 class="mb-2 text-white"><%= article.title %></h1>
            <pre class="mb-4 text-white">Created on <span class="text-danger">:</span> <%= article.createdAt.toDateString() %></pre>
            <a href="/" class="btn btn-secondary">All Articles</a>
            <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
            <a href="/articles/new" class="btn btn-success">New Article</a>
        </div>
        
        <div class="content border border-white p-2 mt-4 text-white">
            <%- article.sanitizedHtml %> 
            <!-- the hyphen outputs raw HTML instead of always stringifying the output, thus we can write markdown -->
        </div>
    </div>
</body>
</html>